<div class="container mx-2 mx-md-0">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center">Sobre mí</h4>
            <div class="row g-0">
                <div class="col-lg-6 col-sm-12 text-center mb-3">
                    <img class="img-thumbnail mx-auto d-block rounded" src="/assets/yo.jpg" alt="Alberto Sánchez" style="max-width: 350px;">
                </div>
                <div class="col-lg-4 col-12 d-flex align-items-center w-lg-25">
                    <p id="hero-text" style="hyphens: auto;">
                        ¡Hola! Me llamo Alberto y, entre otras cosas, <strong>desarrollo apps web</strong>. Uno de mis
                        fuertes es la
                        programación en el frontend; Sin embargo, disfruto mucho programando el backend, desarrollando y
                        ampliando APIs
                        y, en general, participando en todo el desarrollo de los proyectos en los que participo.
                    </p>
                </div>
            </div>
            <hr>
            <div class="info-tecnica d-flex flex-column justify-content-center align-items-center">
                <h4 class="text-center" style="font-weight: 400;">Ficha técnica</h4>
                <div class="table-responsive">
                    <table class="table-responsive">
                        <tr>
                            <td>Nombre completo:</td>
                            <td>Alberto Sánchez Villalba</td>
                        </tr>
                        <tr>
                            <td>Fecha de nacimiento:</td>
                            <td>23/01/2000</td>
                        </tr>
                        <tr>
                            <td>Nivel de estudios:</td>
                            <td>FP Superior</td>
                        </tr>
                        <tr>
                            <td>Titulación:</td>
                            <td>Desarrollo de Aplicaciones Web</td>
                        </tr>
                    </table>
                </div>
                <hr>
                <h4 class="text-center" style="font-weight: 400;">Idiomas</h4>
                <div class="table-responsive">
                    <table>
                        <tr>
                            <td>Castellano:</td>
                            <td>Nativo</td>
                        </tr>
                        <tr>
                            <td>Inglés:</td>
                            <td>B2 - FCE for Schools</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>