<footer class="text-center container-fluid">
    <div class="row">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="assets/logo.ico" alt="Logo">
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#about">Sobre mí</a></li>
                    <li><a href="#proyectos">Proyectos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <p>Contacto: alperonoberto@gmail.com</p>
                <p>Teléfono: (+34) 671 979 547</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Alberto Sánchez Villalba. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
