<div class="container">
    <div class="row text-center">
        <h4 id="contacto">Contacto</h4>
        <div class="col-12 col-md-6">
            <h4 class="fw-normal">Puedes encontrarme en</h4>
            <div class="row">
                <div class="col">
                   <a href="https://github.com/alperonoberto">
                    <i class="bi bi-github"></i>
                   </a>
                </div>
                <div class="col">
                    <a href="https://www.linkedin.com/in/albertosanchezvillalba/">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="row"></div>
        </div>
        <div class="col-12 col-md-6">
            <form [formGroup]="contactoForm" (ngSubmit)="send(contactoForm.value)" class="text-start">
                <div class="row mb-2">
                    <div class="col-md col-12">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" class="form-control" placeholder="Nombre" formControlName="nombre">
                    </div>
                    <div class="col">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" id="apellidos" class="form-control" placeholder="Apellidos" formControlName="apellidos">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="correo-electronico">Correo electrónico</label>
                    <input type="email" class="form-control" id="correo-electronico" placeholder="correo@ejemplo.com" formControlName="mandatario">
                </div>
                <div class="form-group mb-3">
                    <label for="texto">Deja un mensaje</label>
                    <textarea class="form-control" id="texto" rows="3" placeholder="Escribe aquí..." formControlName="mensaje"></textarea>
                </div>
                <div class="col">
                    <button type="submit" class="w-100 btn btn-light">Enviar</button>
                </div>
            </form>
        </div>
        
    </div>
</div>