* {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#about {
    background-color: #e3f2fd;
}

#proyectos {
    background-color: #e3f2fd;
}

#contacto {
    background-color: #e3f2fd; 
}