* {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#about {
    backdrop-filter: blur(8px);
    background-color: #e3f2fd79;
}

#proyectos {
    backdrop-filter: blur(8px);
    background-color: #e3f2fd79;
}

#contacto {
    backdrop-filter: blur(8px);
    background-color: #e3f2fd79; 
}